html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

body {
	background-color: #10316B;   
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
}

input[type=password] {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 100%;
    border-bottom: 2px solid white;  
}

input[type=text] {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  border-bottom: 2px solid white;  
}

.container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item {
    /* flex-grow: 1; */
    margin-right: 20px;
    margin-left: 20px;
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
  
.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: transparent;
    border-radius: 5%;
}

.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

h1 {
    color: #E25822;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

div.scheTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  }
  .divTable.scheTable .divTableCell, .divTable.scheTable .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  .divTable.scheTable .divTableBody .divTableCell {
    font-size: 13px;
    color: #FFFFFF;
  }
  .divTable.scheTable .divTableHeading {
    background: #E25822;
  }
  .divTable.scheTable .divTableHeading .divTableHead {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  .divTable.scheTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .scheTable .tableFootStyle {
    font-size: 13px;
  }
  .scheTable .tableFootStyle .links {
       text-align: right;
  }
  .scheTable .tableFootStyle .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .scheTable.outerTableFooter {
    border-top: none;
  }
  .scheTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}